// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post .form-group{
	margin-bottom: 15px;
    overflow: hidden;
}
.post_top{
	background-color :#D8EBE6 !important;
	border: 1px solid #D8EBE6 !important;
}